name: "Dockerfile build"
on: 
  push:
    branches:
    - main
  pull_request:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: "Build Docker image"
      run: docker build .
